
 @font-face {
  font-family: "AlmendraDisplay-Regular";
  src: url("fuentes/AlmendraDisplay-Regular.ttf") format("truetype");
}

/* Definición variables de color*/
:root {
    --Morado: #ede7f6;
      --100: #d1c4e9;
      --A100: #b388ff;
      --A200: #7C4DFF;
    --A400: #651FFF;
     --A700: #6200ea;
  }

  body {
    background-color: #000;
    color: white;
  }

  #pagina {
    display: flex;
    flex-direction: column;
    gap:3px;
  }

  #barraprincipal {
    display: flex;
    flex-grow: 1;
    background-image: repeating-radial-gradient(#6200ea, #d1c4e9);
    justify-content: space-between;
    height: 150px;
  }

  h1 {
    text-align: center;
    vertical-align: middle;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: "AlmendraDisplay-Regular";
    font-size: 24px;
  }

  #links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #d1c4e9;
    margin-top: 10px;
    gap: 3px;
    height: 75px;
  }

  #links a {
    box-shadow: 3px 3px 3px #000;
    padding: 10px 10px;
    border: 1px solid var(--A700);
    border-radius: 5px;
    background-color: #b388ff;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: medium;
  }

  #a5 {
    margin-right: 5px;
  }






  .libros li:hover>ul {
    display: block;
  }

  .libros li:hover {
    background-color: #434343;
  }

  #links a:hover {
    background-color: white;
    color: #6200ea;
  }
